body header {
  height: 80px;
}

body header nav.navbar .navbar-brand {
  height: 80px;
}

body header nav.navbar .navbar-brand img {
  max-height: 100%;
  padding: 10px;
}

body header > .container div.row > div, body header .container-fluid div.row > div {
  background-color: cornflowerblue;
  min-height: 80px;
  border: solid 1px white;
}

#footer {
  background: coral;
  text-align: center;
}

#footer a {
  text-decoration-style: none;
}
